/* Basic resets to equalize inconsistencies across browsers */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, b, i, fieldset,
	form, label, legend, caption, article, header, footer, menu, nav,
	section, ol, ul, li {
	margin: 0;
	padding: 0;
	font-family: "Arial", 'Helvetica', sans-serif;
	font-size: 0.97em;
}

/* -------------------------------------------------------------------- */
/* Global element styling & global classes */
p {
	margin-bottom: 10px;
}

h1 {
	margin-bottom: 10px;
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 10px;
}

hr {
	color: white;
	background-color: #ffcc99;
	height: 4px;
	margin-bottom: 40px;
}

.link {
	color: #660000;
	text-decoration: underline;


}

.link:hover {
	color: #ff2200;
}

.headerlink{
	color: #660000;
	text-decoration: underline;
	
}

.headerlink:hover{
	color: #ffffff;
}

.slim {
	height: 2px;
	margin-bottom: 10px
}

a {
	text-decoration: none;
	color: black;
}

/* Breadcrumbs only*/
pre, pre span {
	font-decoration: none;
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: graytext;
	margin-top: -5px;
	margin-bottom: 40px;
}

pre a {
	font-size: 1em;
	font-family: 'Helvetica', sans-serif;
	color: graytext;
	margin-top: -5px;
	margin-bottom: 40px;
	font-weight: 900;
}

/*Header is fixed to 60px from top, so with padding of 60px,
we fix the body in the exactly right position*/
body {
	color: gray;
	padding-top: 60px;
	padding-bottom: 40px;
	min-width: 1100px;
}

/* the main content on every page */
#content {
	padding: 30px;
}

/* These two guarantee that we can write stuff on the same line,
but not in one String (i.e. in the header) */
.left {
	display: inline-block;
	float: left;
	padding-left: 8px;
	margin-top: 5px;
}

.right {
	display: inline-block;
	float: right;
	padding-right: 8px;
}

.styledTable {
	
	background-color: #804000;
	border-radius: 5px;
	margin-top: 20px;
}

.styledTable th {
	background-color: #804000;
	color: white;
	padding:0px 10px;
}

.styledTable td {
	background-color: white;
	padding: 5px 10px;
	text-align:right;
}

input, select, textarea {
	margin-right: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
}

input[type="number"] {
	width: 70px;
}

label {
	/*margin-right: 10px;
	*/
}

button {
	background-color: #ffe6cc;
	color: black;
	border-color: black;
	
	padding: 5px 10px;
	
	border-style: solid;
	border-radius: 5px;
	font-size: 1em;
	
	border-width: 1px;
	
	
}

button:hover {
	
	background-color: #ffcc99;
	
	cursor: pointer;
}

button:active {
	
	background-color: #b35900;
	
}



.inactiveButton {
	background-color: #bbbbbb;
	color: white;
	border-color: white;
	cursor: not-allowed;
}

.button {
	background-color: #ffe6cc;
	color: black;
	border-color: black;
		
	padding: 5px 10px;
	border-radius: 5px;
	
	border-style: solid;
	font-size: 1em;
	border-width: 1px;
	
}


.button:hover {
	
	background-color: #ffcc99;
	
	cursor: pointer;
}

.button:active {
	background-color: #b35900;
}

.smallPlusButton {
	
	background-color: #ffe6cc;
	border-color: black;
	color: black;
	
	display: inline;
	font-decoration: none;
	
	
	width: 30px;
	height: 30px;
	padding: 8px 8px;
	text-align: center;
	border-radius: 5px;
	
	border-style: solid;
	font-size: 1em;
	border-width: 1px;
}

.smallPlusButton:hover {
	
	
	background-color: #ffcc99;
	cursor: pointer;
}

#bookmarkButton {
	background-color: white;
	padding: 0px 5px 0px 5px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #ffe6cc;
	border-style: solid; 
	color: grey;
	font-size: 0.9em;
}

#bookmarkedButton {
	background-color: white;
	padding: 0px 5px 0px 5px;
	border-width: 2px;
	border-radius: 10px;
	border-color: #ffe6cc;
	border-style: solid; 
	color: grey;
	font-size: 0.9em;
}






#bookmarkButton:hover {
	
	cursor: pointer;
	background-color:#ffcc99;
}

#bookmarkedButton:hover {
	cursor: pointer;
	background-color:#ffcc99;
	
	
}


#bookmarkButton:active {
	background-color: #b35900;
}


#bookmarkedButton:active {
	background-color: #b35900;
}

fieldset {
	padding: 15px;
	margin-bottom: 0px;
}

legend {
	font-size: 1.1em;
	font-weight: bold;
	padding: 5px 10px;
}

button {
	margin-right: 20px;
}

.validationErrorText {
	color: red;
	background-color: #fee2ef;
	border-radius: 5px;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 10px;
	vertical-align: top;
}

.clearBoth {
	clear: both;
}

.confirmation-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #ffcc99;
}

.negative-message {
	border-style: solid;
	width: 20%;
	margin: auto;
	padding: 10px 20px;
	border-color: #33ccff;
}

.confirmation-message img {
	width: 30px;
	margin-bottom: 20px;
}

.negative-message img {
	width: 30px;
	margin-bottom: 20px;
}

/* -------------------------------------------------------------------- */
/* Header & Footer */
header {
	height:auto;
	color: white;
	background: #ff8447;
	
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	
	z-index: 1;
	
	width:100%;
	
}

#OrangeBox{
	background: #ff8447;
	width:100%;
	display: inline-block;
}

header a {
	text-decoration: none;
	color: white;
}

header h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 2.8em;
}

header h1 a {
	color: white;
}

header ul {
	padding: 0;
	list-style: none;
}







header ul li {
	float: right;
	width: 100px;
	text-align: center;
	line-height: 21px;
	margin-top: 20px;
	
	
	
}


#ProfileDropList li{
	
	text-align: center;
	width:170px;
	position:absolute;
	height:40px;
	margin-top: 0px;
	
}

.ProfileListItem{
	
	border-radius: 0px;
	border-radius: 0px;
}


header ul li a {
	
	background-color: #ffcc99;
	color: black;
	border-color: #990000;
	
	border-width:1px;
	
	display: block;
	margin: 2px 5px;
	padding: 2px 2px;
	
	
	text-decoration: none;
	
	
	
	border-style: solid;
	border-radius: 5px;
}


#profile_picture {
	width: 170px;
	margin-top: 0px;
}

#profile_picture_editPage {
	float: left;
	width: 340px;
	margin-top: 0px;
}

#profile_picture_publicProfile {
	float: left;
	width: 340px;
	margin-top: 0px;
}

#profile_picture img {
	width: 60px;
	height: 60px;
	float: left;
}
/*
#profile_picture a {
	height: 60px;
}
*/
#profile_picture .text {
	float: center;
	height: 100%;
	margin-top: 10px;
	margin-right: 10px;
}

/*
#profile_picture ul li {
	margin-top:0px;
	float: none;
	//width: auto;
	
}

#profile_picture ul li a {
	height: 25px;
	text-align: left;
}
*/

/*links in the header*/

/*submit button for the header and other stuff*/

#submitButton{
	
	width:100px;
	
	background-color: #ffcc99;
	color: black;
	border-color: #990000;
	
	border-width:1px;
	border-style: solid;
	
	display: block;
	margin: 2px 5px;
	padding: 2px 2px;
	
	
	text-decoration: none;
	
	
	
	
	border-radius: 5px;
	
}

#submitButton:hover {
	background: #ffffb3;
}

#submitButton:active {
	background: #b35900;
}









header ul li a:hover {
	
	background: #ffffb3;
}

header ul li a:active {
	
	background: #b35900;
}



/* it does hide the drop down menu */
header ul li ul {
	display: none;
}

/*only when you hover over the unordered list item -> dropdown visible */
header ul li:hover ul {
	display: block;
}

header nav {
	display: block;
	float: right;
	padding: 0px 15px;
	font-size: 1.3em;
}

footer {
	color: white;
	background: #ff8447;
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 0px;
	text-align: center;
	
}

footer nav {
	
}

footer .link {
	color: #AFFFEE;
}

footer .link:hover {
	color: white;
}

footer nav ul li {
	display: inline-block;
	float: center;
	padding: 0px 15px;
}

/* -------------------------------------------------------------------- */
/* ----------------------------Individual pages------------------------ */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/*Modal window*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -10%;
    top: -10%;
    width: 120%; /* Full width */
    height: 120%; /* Full height */
    overflow: none; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
	
	text-align:center;
	
    top:0;
	margin-left:auto;
	margin-right:auto;
    padding: 0;
    border: 1px solid #990000;
	min-width:600px;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s;
	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0;} 
    to {top:0; opacity:1;}
}

@keyframes animatetop {
    from {top:-300px; opacity:0;}
    to {top:0; opacity:1;}
}


/* Add Animation */
@-webkit-keyframes animatebot {
    from {top:0; opacity:1;} 
    to {top:-300px; opacity:0;}
}

@keyframes animatebot {
    from {top:0; opacity:1;}
    to {top:-300pxpx; opacity:0;}
}



/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ff8447;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #ff8447;
    color: white;
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	padding: 2px 0px;
}

.headerButton{
	
	
	
}

#modalButton{
	    font-size: 0.97em;
	width:100px;
	
	background-color: #ffcc99;
	color: black;
	border-color: #990000;
	
	border-width:1px;
	border-style: solid;
	
	display: block;
	margin: 20px 20px;
	padding: 2px 2px;
	
	
	text-decoration: none;
	
	
	
	
	border-radius: 5px;
	
}

#modalButton:hover {
	background: #ffffb3;
}

#modalButton:active {
	background: #b35900;
}


/* -------------------------------------------------------------------- */
/* index.jsp */

/*the table that hlads all the results in the index*/

#indexTable {
	table-layout: fixed;
	
	
	border-collapse: separate;
	border-spacing: 50px 0;
}

#indexTable tr {
	background-color: #ffcc99;
	color: white;
}

#indexTable th {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ffcc99;
	color: black;
	padding: 5px;
	width:50%;
}

#indexTable td {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}




/* -------------------------------------------------------------------- */
/* login.jsp */
.test-users {
	margin-left: 30px;
	line-height: 1.5;
}

.test-users li{
	
	list-style-type: none;
}

/* about.jsp*/
#about {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -365px;
  margin-left: -486px;
}

#login-form{
	
	
}



/* -------------------------------------------------------------------- */
/* placeAd.jsp */

.placeAdTableOne{
	
	width:100%;
	height:100%;
	table-layout: fixed;
	
}


.placeAdTableOne>tbody>tr>td{
	
	width:600px;
	height:100%;
	padding: 5px 10px;
}

.placeAdFieldsetOne{
	display:block;
	
	height:100%;
	min-width:600px;
	
	padding:0em ;
	margin:0em;
}

.placeAdFieldsetOne>div{
	padding:10px;
	
}

.placeAdFieldsetOne>legend{
	padding:0em ;
	margin:2em;
	
}






#placeAdForm {
	width: 1000px;
	margin: auto;
}

#uploaded-pictures {
	width: 550px;
}

#uploaded-pictures td {
	text-align: center;
}

#uploaded-pictures td:first-child {
	text-align: left;
}

#uploaded-pictures td:last-child {
	cursor: pointer;
}

#name-column {
	width: 75%;
	text-align: left;
}

.placeAdTable {
	width: 100%;
	
}

/* -------------------------------------------------------------------- */
/* signup.jsp */
#signupForm {
	width: 350px;
}

.signupDescription{
	vertical-align: top;
}
/* -------------------------------------------------------------------- */
/* search.jsp */
#searchForm {
	width: 900px;
}

/* -------------------------------------------------------------------- */
/* editProfile.jsp */
.editProfileTable input {
	width: 30%;
	font-size: 0.8em;
}

.editProfileTable textarea {
	font-size: 0.9em;
}

.editProfileTable {
	width: 80%;
	margin-top: 2px;
	font-size: 1.4em;
}

.spacingTable {
	padding: 10px;
}

/* -------------------------------------------------------------------- */
/* results.jsp */


/*the table that holds all the data of a single ad*/
#resultTable {
	
	table-layout: fixed;
	border-radius: 10px;
	background-color: #ffe6cc;
	width:100%;
	
	
	border-color: #ffa64d;
	
	border-width:2px;
	border-style: solid;
	
	
}

#resultTable tr {
	background-color: #ffe6cc;
	color: black;
	
}

#resultTable th {
	
	
	background-color: #FFDD99;
	color: black;
	padding: 5px;
	
}

#resultTable td {
	padding: 5px;
	
	
}



#userPicDiv {
	float: left;
	margin-top: 10px;
}

#userTextDiv {
	float: left;
	padding-left: 30px;
	margin-top: 10px;
}

#filterDiv {
	width: 98%;
	margin-top: 30px;
	float: left;
	padding: 10px;
	margin-top: 10px;
	
	border-style: solid;
	border-color: #ffcc99;
	border-width: 3px;
	border-radius: 10px;
}

#resultsDiv {
	width: 100%;
	margin-top: 10px;
	vertical-align: top;
	/*min-width: 600px;
	*/
}

.resultAd {
	
	
	width: 600px;
	vertical-align: top;
	display: inline-block;
	
	padding: 10px 10px;
}




#resultsDiv div {
	/*height: 150px;
	padding: 10px;
	margin-top: 20px;
	*/
	/*border-width: 3px;
	border-style: solid;
	border-color: #ff8447;
	
	
	border-radius: 10px;
	*/
	
}

#resultsDiv div:first-child {
	margin-top: 0px;
}

#resultsDiv div img {
	height: 100px;
	float: left;
	margin-right: 50px;
}

#resultsDiv div div {
	border: none;
	margin: 0;
	padding: 0;
}

.resultLeft {
	float: left;
	width: 10%;
	min-width: 80px;
	
}


.resultMiddle {
	float: center;
	
}

.resultRight {
	float: right;
	width: 20%;
	min-width: 200px;
	text-align: right;
	padding-right: 5px;
}

/* -------------------------------------------------------------------- */
/* adDescription.jsp */

#adDescTable {
	
	
}

#adDescTable h2 {
	margin: 4px;
}

#adDescTable td {
	margin: 10px;
}

#checkBoxTable {
	width: 27%;
}

#checkBoxTable h2 {
	margin: 4px;
}

#checkBoxTable img {
	width: 26px;
}

#descriptionTexts {
	width: 100%;
	height: 100%;
	
}

#descriptionTexts div {
	width: 100%;
	height: 100%;
	
}

#advertiserTable {
	width: 50%;;
}

#advertiserTable img {
	width: 50px;
	height: 50px;
}

#mate img {
	width: 50px;
	height: 50px;
}

#mate {
	table-layout: fixed;
	width: 100%;
}

#advertiserTable h2 {
	margin: 0;
}

#image-slider {
	
	/*
	
	height: 350px;
	width: 600px;
	
	margin-bottom: 30px;
	*/
}

#images {
	float: left;
	width: 400px;
	height: 300px;
	position: relative;
}

#images img {
	max-width: 400px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: none;
	
}

#images img:first-child {
	margin-top: 0px;
	display: block;
}

#left-arrow {
	height: 100%;
	width: 40px;
	margin-right: 10px;
	float: left;
}

#right-arrow {
	height: 100%;
	width: 40px;
	margin-left: 10px;
	float: left;
}

#left-arrow img {
	width: 40px;
	margin-top: 155px;
}

#right-arrow img {
	width: 40px;
	margin-top: 155px;
}

#left-arrow img:hover {
	cursor: pointer;
	opacity: .7;
    background-color: white;
}

#right-arrow img:hover {
	cursor: pointer;
	opacity: .7;
    background-color: white;
}

.adDescDiv {
	border-color: #ffcc99;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	
	padding: 15px;
	width:93%;
	height:100%;
	display:inline-block;
	
}

/*buttons to send enquiries*/
.thinButton {
	
	background-color: #ffe6cc;
	color: black;
	border-color: black;
	
	
	
	border-style: solid;
	border-radius: 5px;
	font-size: 1em;
	
	border-width: 1px;
	
	

	padding: 2px 10px;

	
	margin-left: 30px;
}

.thinInactiveButton {
	background-color: #bbbbbb;
	color: white;
	padding: 2px 10px;
	border-radius: 5px;
	border-color: white;
	border-style: solid;
	font-size: 1.1em;
	margin-left: 30px;
}

.thinInactiveButton:hover {
	background-color: #white;
	color: #bbbbbb;
	border-color: #bbbbbb;
	cursor: pointer;
}

/* -------------------------------------------------------------------- */
/* messages.jsp */

#messageList {
	
	width: 100%;
	margin-right: 40px;
}

#messageList hr {
	margin-top: 30px;
}

#messageList table {
	width: 90%;
	margin: auto;
}

#messageList table tr:hover {
	cursor: pointer;
	background-color: #ffcc99;
	color: graytext;
}

#messageList table tr.UNREAD td {
	background-color: #AFFFEE;
}

#subjectColumn {
	width:200px;
}

#folders {
	
	display: inline-block;
	
	
	border-color: #ffcc99;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	
	
}

#folders h2 {
	margin: 0px;
	float:center;
	padding: 10px;
	color: graytext;
	display: inline-block;
	
}

#folders h2:hover {
	background-color: #ffcc99;
	color: white;
	cursor: pointer;
}

#messageDetail {
	border-color: #ffcc99;
	border-radius: 5px;
	border-width: 3px;
	border-style: solid;
	padding: 30px;
	width: 100%;
	margin: auto;
}

#messageDetail p {
	white-space: pre-line;
}

#folders a:hover {
	background-color: #ffcc99;
	color: white;
	cursor: pointer;
}

.msgForm {
	border-radius: 2px;
	padding: 20px 30px;
	box-shadow: 0 0 15px;
	font-size: 14px;
	font-weight: bold;
	width: 350px;
	margin: 20px 250px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: -255px;
}

.msgInput {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 5px;
}

#msgTextarea {
	width: 100%;
	height: 80px;
	margin-top: 5px;
	border-radius: 3px;
	border: 1px solid #999;
	padding: 5px;
	resize: none;
}

#msgDiv {
	opacity: 1.0;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
}

#confirmationDialog{
	position:fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display:none;
}

#confirmationDialog form{
	border-radius: 2px;
	padding: 20px 30px;
	box-shadow: 0 0 15px;
	font-size: 14px;
	font-weight: bold;
	width: 350px;
	margin: 20px 250px 0 35px;
	float: left;
	background-color: white;
	position: relative;
	border: 5px solid rgb(90, 158, 181);
	left: 50%;
	top: 50%;
	margin-left: -210px;
	margin-top: 10x;
}

.img {
	float: right;
	margin-top: -35px;
	margin-right: -37px;
}

.divWithLineBreaks {
	white-space: pre-line;
}

/* -------------------------------------------------------------------- */
/* enquiries.jsp */
#enquiryList {
	width: 85%;
	margin: auto;
}

#enquiryList hr {
	margin-top: 30px;
}

#enquiryList table {
	width: 85%;
	margin: auto;
}

.declineButton{
	background-color: #33ccff;
}

.declineButton:hover{
	border-color: #ff4a4f;
	color: #ff4a4f;
}

.undoButton{
	margin-left: 20px;
}

/* -------------------------------------------------------------------- */
/* publicProfile.jsp */
#userDiv {
	width: 40%;
	margin: 0 auto;
}

#userDiv img{
	max-height: 200px;
}

/* -------------------------------------------------------------------- */
/* visitors.jsp */
.rating {
  text-align: center;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  
}

.rating:hover > span {
	color: transparent;
}

.rating > span:hover ~ span {
	color: gray;
}

.rating:hover > span:before {
	content: "\2605";
	position: absolute;
	left: 0; 
	color: #0066ff;
	width: 1.1em;
}

.rating > span:hover ~ span:before {
	color: transparent;
}

/* -------------------------------------------------------------------- */
/* editAd.jsp */



/*
table rot one
*/

.editTableOne{
	
	width:100%;
	height:100%;
	table-layout: fixed;
	
}


.editTableOne>tbody>tr>td{
	
	width:400px;
	height:100%;
	padding: 5px 10px;
}

.editFieldsetOne{
	display:block;
	
	height:100%;
	min-width:400px;
	
	padding:0em ;
	margin:0em;
}

.editFieldsetOne>div{
	padding:10px;
	
}

.editFieldsetOne>legend{
	padding:0em ;
	margin:2em;
	
}


/*
table rot two
*/

.editTableTwo{
	
	width:100%;
	height:100%;
	table-layout: fixed;
	
}


.editTableTwo>tbody>tr>td{
	
	width:600px;
	height:100%;
	padding: 5px 10px;
}

.editFieldsetTwo{
	display:block;
	
	height:100%;
	min-width:600px;
	
	padding:0em ;
	margin:0em;
}

.editFieldsetTwo>div{
	padding:10px;
	
}

.editFieldsetTwo>legend{
	padding:0em ;
	margin:1em;
	
}


/*
table rot three
*/


.editTableThree{
	
	width:100%;
	height:100%;
	table-layout: fixed;
	
}


.editTableThree>tbody>tr>td{
	
	width:600px;
	height:50%;
	padding: 5px 10px;
}

.editFieldsetThree{
	display:block;
	
	height:100%;
	min-width:600px;
	
	padding:0em ;
	margin:0em;
}

.editFieldsetThree>div{
	padding:10px;
	
}

.editFieldsetThree>legend{
	padding:0em ;
	margin:1em;
	
}





.pictureThumbnail{
	width: 200px;
	border-style: dashed;
	border-color: #3399ff;
	border-width: 2px;
	text-align:center;
	float: left;
	margin-right: 10px;
}

.pictureThumbnail div{
	width: 100%;
}

.pictureThumbnail img{
	height: 130px;
	margin-top: 10px;
}

.pictureThumbnail button{
	margin: 10px 0;
}
